<div>
    <div class="pb-4 border-bottom row justify-content-center">
        <!-- Left -->
        <div class="d-inline-block p-2">
            <span class="text-muted">Get connected with me on my social networks:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <div class="col-md-12 col-sm-12 center-col">
                <a href="https://www.facebook.com/jongho.kim.9022" class="btn social-icon button" data-abc="true"><i class="fa fa-facebook btn-round"></i></a>
                <a href="https://www.instagram.com/jaybaekimchi/" class="btn social-icon button" data-abc="true"><i class="fa fa-instagram btn-round"></i></a>
                <a href="#" class="btn social-icon button" data-abc="true"><i
                        class="fa fa-github-alt btn-round"></i></a>
                <a href="https://www.linkedin.com/in/jaykimuiuc/" class="btn social-icon button" data-abc="true"><i
                        class="fa fa-linkedin btn-round"></i></a>
            </div>
        </div>
        <!-- Right -->
    </div>

    <!-- Section: Social media -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Jay Kim. All rights reserved.
    </div>
    <!-- Copyright -->
    <!-- </footer> -->
    <!-- Footer -->
</div>