<nav class="navbar navbar-expand-sm py-3 navbar-custom">
    
    
    <a class="navbar-brand font-weight-normal" href="{{ url_for('main.home') }}">BWF Shuttle API</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="no-margin">
            <li class="nav-item">
                <a class="nav-link text-nowrap" href="{{ url_for('rankings.home') }}">Rankings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-nowrap" href="{{ url_for('players.search') }}">Players</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rankings.players') }}">Players</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link text-nowrap" href="{{ url_for('main.contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-nowrap" href="{{ url_for('main.faq') }}">FAQ</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Logout</a>
            </li> -->
            {% if 'user' in session %}
            <li class="nav-item">
                <a href="{{ url_for('authentication.logout') }}" class="nav-link text-nowrap">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ url_for('authentication.login') }}" class="nav-link text-nowrap">Login</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('authentication.register') }}" class="nav-link text-nowrap">Register</a>
            </li>
            {% endif %}
            <!-- <li class="nav-item">
                <a href="https://bwfbadminton.com" class="nav-link text-nowrap">BWF Fansite</a>
            </li> -->
        </ul>
    </div>
</nav>