{% extends 'layout.html' %}
{% block content %}
<div class="container bottom-spacing">
    <div class="col-10 offset-1">
        <h2 class="mb-3 d-flex justify-content-center">BWF Shuttle API</h2>
        <p class="text-muted lead mb-4 d-flex justify-content-center">The most comprehensive and detailed source to view and download
            top badminton player rankings and data
            specified by the Badminton World Federation.</p>
        
        <hr />
        <h3 class="mb-3 d-flex justify-content-center">About</h3>
        <p class="text-muted lead mb-4 d-flex justify-content-center">BWF Shuttle API is a Flask Web Application that utilizes
            Python libraries BeautifulSoup and Pandas to scrape badminton ranking da. CSV and JSON files can be downloaded directly, and JSON metadata can be acquired through API calls.
        </p>
        <hr />
        <h3 class="mb-3 d-flex justify-content-center">API Call Formats</h3>
        <p class="text-muted lead mb-4 d-flex justify-content-center">Fill in the { } from the choices below, for the data you wish to get. For months and days, include the 0 at the start if it's a single digit.
        </p>
        <div class="bg-light text-dark rounded justify-content-center p-3" style="overflow-x: scroll;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="categories">Valid Category:</label>
                </div>
                <select class="custom-select" id="categories">
                    {% for category in categories %}
                    <option>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="dates">Valid Year/Month/Day:</label>
                </div>
                <select class="custom-select" id="dates">
                    {% for date in dates %}
                        <option>{{ date }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="weeks">Valid Year/Week:</label>
                </div>
                <select class="custom-select" id="weeks">
                    {% for week in weeks %}
                    <option>{{ week.split('-')[0] }}/{{ week.split('-')[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="lead text-center">http://bwfshuttleapi.herokuapp.com/rankings/api/{category}</p>
            <p class="lead text-center">http://bwfshuttleapi.herokuapp.com/rankings/api/{category}/{rows}</p>
            <p class="lead text-center">http://bwfshuttleapi.herokuapp.com/rankings/api/{category}/{year}/{week}/{rows}</p>
            <p class="lead text-center">http://bwfshuttleapi.herokuapp.com/rankings/api/{category}/{year}/{month}/{day}/{rows}</p>
        </div>
        <hr />
        <h3 class="mb-3 d-flex justify-content-center">Purpose</h3>
        <p class="text-muted lead mb-4 d-flex justify-content-center">As of this moment, no up-to-date official database for badminton players
            is currently available to the public to download from. BWF Shuttle API acts as an alternative source for anyone
            wanting to view or download BWF ranking data.
        </p>
    </div>
</div>

{% endblock content %}