{% extends 'layout.html' %}
{% block content %}
<div class="container bottom-spacing">
    <div class="col-10 offset-1">
        <h2 class="mb-3 d-flex justify-content-center">BWF Shuttle API</h2>
        <p class="text-muted lead mb-4 d-flex justify-content-center">The most comprehensive and detailed source to view or download
            top badminton player rankings and data
            specified by the Badminton World Federation.</p>
        
        <hr />
        <h3 class="mb-3 d-flex justify-content-center">About</h3>
        <p class="text-muted lead mb-4 d-flex justify-content-center">BWF Shuttle API is a Flask Web Application that utilizing
            Python libraries BeautifulSoup and Pandas to scrape data from the official BWF
            website. CSV, (JSON, and Excel data to be added soon) can be downloaded using links on this website(JSON metadata will be
            accessed through API calls).
        </p>

        <hr />
        <h3 class="mb-3 d-flex justify-content-center">Purpose</h3>
        <p class="text-muted lead mb-4 d-flex justify-content-center">As of this moment, no official database for badminton players
            is currently available to the public to download from. BWF Shuttle API is an alternative source for anyone
            wanting to view or download BWF ranking data.
        </p>
    </div>
</div>

{% endblock content %}