<!doctype html>
<html lang="en">

<head>
    {% block title %}{% endblock title %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block description %}{% endblock description %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="BWF, badminton, data, ranking, API, dataset, json, csv, download" />
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        {% include './includes/navbar.html' %}
    </header>

    <main id="content" class="container pt-4 pb-5">
        {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for c, m in messages %}
        <div class="alert alert-{{ c }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ m }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
    </main>

    <!-- The loading animation that will display once a button is clicked -->
    <div id="loading" class="justify-content-center loading">
        <img class="rotate-center" src="../static/images/birdie.png" alt="loading-gif" />
        <br />
        <div class="generating" style="display:inline-block">
            <h2>Generating...</h2>
        </div>
    </div>

    <footer id="footer" style="margin-top: 20px;">
        {% include './includes/footer.html' %}
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
    <script src="../static/js/script.js"></script>
</body>

</html>