{% extends 'layout.html' %}
{% block title %}
    <title>Badminton Ranking Data Table Search Page | BWF Shuttle API</title>
{% endblock title %}

{% block description %}
<meta name="description"
    content="Get Dynamic badminton ranking tables and data. Please enter category, date, and number of players to get the corresponding rankings.">
{% endblock description %}

{% block content %}
<div class="col-8 offset-2">
    <h2 class="mb-3 d-flex justify-content-center text-center">BWF World Rankings</h2>
</div>
<hr />
<form action="{{ url_for('rankings.table') }}" class="pt-4 pb-5 mb-5" method="POST" enctype="multipart/form-data">
    <div class="form-row d-flex justify-content-center text-center">
        <div class="col-sm-11 col-md-9 col-lg-7">
            <!-- <p class="text-muted justify-content-center text-center">
                * Win/Loss and Prize Money data isn't logged for dates before 2012-11-08
            </p> -->
            <div class="form-group">
                <label for="category-select" class="lead mb-3 ">Select a
                    Category</label>
                <div class="input-group mb-4">
                    <select class="form-control" name="category-select">
                        <option value="MS">Men's Singles</option>
                        <option value="WS">Women's Singles</option>
                        <option value="MD">Men's Doubles</option>
                        <option value="WD">Women's Doubles</option>
                        <option value="XD">Mixed Doubles</option>
                    </select>
                </div>
                <label for="num-rows" class="lead mb-3">Enter Number of
                    Players/Pairs to
                    View</label>
                <div class="input-group">
                    <input type="number" class="form-control mb-4" min="0" name="num-rows" id="num-rows"
                        placeholder='25' oninput="validity.valid || (value='');"/>
                </div>

                <label for="date" class="lead mb-3">Select a Date</label>
                <div class="input-group ">
                    <select class="form-control mb-4" name="date" id="date">
                        {% for date in dates %}
                        <option>{{ date }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" onclick="loading()" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}