{% extends 'layout.html' %}
{% block content %}

<div class="col-8 offset-2 bottom-spacing">
    <h2 class="mb-3 d-flex justify-content-center text-center ">BWF World Rankings Table</h2>
</div>
<hr />
<h3 class="mb-3 d-flex justify-content-center text-center">{{ category }}</h3>
<h4 class="mb-3 d-flex justify-content-center text-center">({{ date }})</h4>
<a href="{{ url_for('rankings.home') }}" class="btn btn-primary return-button" role="button"
    aria-pressed="true">Return</a>
<table id="data" class="table table-bordered">
    <thead class="thead-light">
        <tr>
            {% if category_abbr in ['MD', 'WD', 'XD'] %}
                <th class="align-middle" scope="col">Rank</th>
                <th class="align-middle" scope="col">Prev. Rank</th>
                <th class="align-middle" scope="col">Rank Change</th>
                <th class="align-middle" scope="col">Country</th>
                <th class="align-middle" scope="col">Player 1</th>
                <th class="align-middle" scope="col">Player 2</th>
                <th class="align-middle" scope="col">Member ID 1</th>
                <th class="align-middle" scope="col">Member ID 2</th>
                <th class="align-middle" scope="col">Points</th>
                <th class="align-middle" scope="col">Tournaments</th>
            {% else %}
                <th class="align-middle" scope="col">Rank</th>
                <th class="align-middle" scope="col">Prev. Rank</th>
                <th class="align-middle" scope="col">Rank Change</th>
                <th class="align-middle" scope="col">Country</th>
                <th class="align-middle" scope="col">Player</th>
                <th class="align-middle" scope="col">Member_ID</th>
                <th class="align-middle" scope="col">Points</th>
                <th class="align-middle" scope="col">Tournaments</th>
            {% endif %}

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="downloads text-center">
    <span>Download:</span>
    <a href="{{ url_for('rankings.download', category=category_abbr, year=year, week=week, type='csv', rows=rows) }}"
        class="btn btn-primary" role="button" aria-pressed="true">CSV</a>
    <a href="{{ url_for('rankings.download', category=category_abbr, year=year, week=week, type='json', rows=rows) }}"
        class="btn btn-primary" role="button" aria-pressed="true">JSON</a>
</div>

{% endblock content %}

{% block scripts %}
    {% if category_abbr in ['MD', 'WD', 'XD'] %}
        <script>
            $(document).ready(function () {
                $('#data').DataTable({
                    ajax: `/rankings/table/{{category_abbr}}/{{date}}/{{rows}}`,
                    serverSide: true,
                    columns: [
                        { data: 'rank' },
                        { data: 'rank_change' },
                        { data: 'prev_rank'},
                        { data: 'country', orderable: false },
                        { data: 'player1' },
                        { data: 'player2' },
                        { data: 'member_id1', orderable: false },
                        { data: 'member_id2', orderable: false },
                        { data: 'points' },
                        { data: 'tournaments' }
                    ],
                });
            });
        </script>
    {% else %}
        <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: `/rankings/table/{{category_abbr}}/{{date}}/{{rows}}`,
                serverSide: true,
                columns: [
                    { data: 'rank' },
                    { data: 'prev_rank'},
                    { data: 'rank_change' },
                    { data: 'country', orderable: false },
                    { data: 'player' },
                    { data: 'member_id', orderable: false },
                    { data: 'points' },
                    { data: 'tournaments' }
                ],
            });
        });
        </script>
    {% endif %}
{% endblock %}
