{% extends 'layout.html' %}
{% block content %}

<div class="col-8 offset-2 bottom-spacing">
    <h2 class="mb-3 d-flex justify-content-center text-center ">BWF World Rankings Table</h2>
</div>
<hr />
<h3 class="mb-3 d-flex justify-content-center text-center">{{ category }}</h3>
<h4 class="mb-3 d-flex justify-content-center text-center">({{ date }})</h4>
<a href="{{ url_for('rankings.home') }}" class="btn btn-primary return-button" role="button" aria-pressed="true">Return</a>
<div class="table-scroll-y table-scroll table-bordered">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Country/Territory</th>
                <th scope="col">Player</th>
                <th scope="col">Ranking Change</th>
                <th scope="col">Win/Loss</th>
                <th scope="col">Prize Money</th>
                <th scope="col">Points/Tournaments</th>
                <th scope="col">BWF Member ID</th>
            </tr>
        </thead>
        <tbody>
            {% if category_abbr in ['MD', 'WD', 'XD'] %}
                {% for row in table %}
                <tr>
                    <td class="align-middle">{{ row[0] }}</td>
                    <td class="align-middle">{{ row[1] }}</td>
                    <td class="align-middle">
                        <a href="{{row[7].split(',')[0]}}">{{ row[2].split(',')[0] }}</a>
                        , 
                        <br />
                        <a href="{{row[7].split(',')[1]}}">{{ row[2].split(',')[1] }}</a> </td>
                    <td class="align-middle">{{ row[3] }}</td>
                    <td class="align-middle">{{ row[4] }}</td>
                    <td class="align-middle">{{ row[5] }}</td>
                    <td class="align-middle">{{ row[6] }}</td>
                    <td class="align-middle">{{ row[8].split(',')[0] }},<br>{{ row[8].split(',')[1] }}</td>
                </tr>
                {% endfor %}
            {% else %}
                {% for row in table %}
                <tr>
                    
                    <td class="align-middle">{{ row[0] }}</td>
                    <td class="align-middle">{{ row[1] }}</td>

                    <td class="align-middle">
                        {% if row[7] != '(Missing)' %}
                        <a href="{{ row[7] }}">
                            {{ row[2] }}
                        </a>
                        {% else %}
                            {{ row[2] }}
                        {% endif %}
                    </td>
                    <td class="align-middle">{{ row[3] }}</td>
                    <td class="align-middle">{{ row[4] }}</td>
                    <td class="align-middle">{{ row[5] }}</td>
                    <td class="align-middle">{{ row[6] }}</td>
                    <td class="align-middle">{{ row[8] }}</td>
                </tr>
                {% endfor %}
            {% endif %}
            
        </tbody>
    </table>
</div>

<div class="downloads text-center">
    <span>Download:</span>
    <a href="{{ url_for('rankings.download', category=category_abbr, year=year, week=week, type='CSV', rows=rows) }}" class="btn btn-primary" role="button" aria-pressed="true">CSV</a>
    
</div>

{% endblock content %}