{% extends 'layout.html' %}
{% block title %}
    <title>Reset Password | Authentication | BWF Shuttle API</title>
{% endblock title %}
{% block content %}
<div class="container">
    <h2 class="mb-3 d-flex justify-content-center text-center">Reset Password</h2>
    <p class="mb-3 d-flex justify-content-center text-center">Please input your email below to reset your password.</p>
    <hr />
    <form action="{{ url_for('authentication.reset_password') }}" method="POST"
        class="needs-validation col-10 offset-1 text-center" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" required>
                <div class="invalid-feedback">
                    Please put in an email to get a reset link.
                </div>
            </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
    </form>
</div>


{% endblock content %}