{% extends 'layout.html' %}
{% block title %}
    <title>Contact | Successfully Sent Message | BWF Shuttle API</title>
{% endblock title %}

{% block description %}
<meta name="description"
    content="Sent message successfully from Contact page form to the BWF Shuttle API mailbox. Thank you for your input!">
{% endblock description %}

{% block content %}
<div class="container bottom-spacing">
    <div class="col-6 offset-3 text-center b-t-20 b-p-20">
        <h2 class="mb-3 d-flex justify-content-center mt-4 pb-3">Sent message successfully!</h2>
        <a href="{{ url_for('main.home') }}" class="btn btn-primary btn-block btn-lg mt-4">Back to Home</a>
    </div>
</div>

{% endblock content %}